<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czxy.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.czxy.domain.Student">
    <!--@mbg.generated generated on Mon Jul 29 16:17:36 CST 2019.-->
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_sex" jdbcType="VARCHAR" property="studentSex" />
    <result column="student_phone" jdbcType="VARCHAR" property="studentPhone" />
    <result column="student_birthday" jdbcType="TIMESTAMP" property="studentBirthday" />
    <result column="student_email" jdbcType="VARCHAR" property="studentEmail" />
    <result column="student_year" jdbcType="VARCHAR" property="studentYear" />
    <result column="student_semester" jdbcType="VARCHAR" property="studentSemester" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="student_describe" jdbcType="VARCHAR" property="studentDescribe" />
    <association property="major" select="com.czxy.dao.MajorMapper.findFirstByMajorId" column="major_id"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Jul 29 16:17:36 CST 2019.-->
    student_id, student_name, student_sex, student_phone, student_birthday, student_email, 
    student_year, student_semester, major_id, student_describe
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-07-29-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from student
    where 1=1
    <if test="studentId != null">
      and student_id=#{studentId,jdbcType=INTEGER}
    </if>
    <if test="studentName != null">
      and student_name=#{studentName,jdbcType=VARCHAR}
    </if>
    <if test="studentSex != null">
      and student_sex=#{studentSex,jdbcType=VARCHAR}
    </if>
    <if test="studentPhone != null">
      and student_phone=#{studentPhone,jdbcType=VARCHAR}
    </if>
    <if test="studentBirthday != null">
      and student_birthday=#{studentBirthday,jdbcType=TIMESTAMP}
    </if>
    <if test="studentEmail != null">
      and student_email=#{studentEmail,jdbcType=VARCHAR}
    </if>
    <if test="studentYear != null">
      and student_year=#{studentYear,jdbcType=VARCHAR}
    </if>
    <if test="studentSemester != null">
      and student_semester=#{studentSemester,jdbcType=VARCHAR}
    </if>
    <if test="majorId != null">
      and major_id=#{majorId,jdbcType=INTEGER}
    </if>
    <if test="studentDescribe != null">
      and student_describe=#{studentDescribe,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-07-29-->
  <insert id="insertSelective">
        INSERT INTO student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="student.studentId!=null">student_id,</if>
            <if test="student.studentName!=null">student_name,</if>
            <if test="student.studentSex!=null">student_sex,</if>
            <if test="student.studentPhone!=null">student_phone,</if>
            <if test="student.studentBirthday!=null">student_birthday,</if>
            <if test="student.studentEmail!=null">student_email,</if>
            <if test="student.studentYear!=null">student_year,</if>
            <if test="student.studentSemester!=null">student_semester,</if>
            <if test="student.majorId!=null">major_id,</if>
            <if test="student.major!=null">major_id,</if>
            <if test="student.studentDescribe!=null">student_describe</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="student.studentId!=null">#{student.studentId,jdbcType=INTEGER},</if>
            <if test="student.studentName!=null">#{student.studentName,jdbcType=VARCHAR},</if>
            <if test="student.studentSex!=null">#{student.studentSex,jdbcType=VARCHAR},</if>
            <if test="student.studentPhone!=null">#{student.studentPhone,jdbcType=VARCHAR},</if>
            <if test="student.studentBirthday!=null">#{student.studentBirthday,jdbcType=TIMESTAMP},</if>
            <if test="student.studentEmail!=null">#{student.studentEmail,jdbcType=VARCHAR},</if>
            <if test="student.studentYear!=null">#{student.studentYear,jdbcType=VARCHAR},</if>
            <if test="student.studentSemester!=null">#{student.studentSemester,jdbcType=VARCHAR},</if>
            <if test="student.majorId!=null">#{student.majorId,jdbcType=INTEGER},</if>
            <if test="student.major!=null">#{student.major},</if>
            <if test="student.studentDescribe!=null">#{student.studentDescribe,jdbcType=VARCHAR}</if>
        </trim>
    </insert>
</mapper>